# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Databases & Vector Stores
chroma_realistic_restaurant_reviews_db/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
